#!/usr/bin/make -f

UPSTREAM_VERSIONSTRING=$(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+.*)[-].*$$/\1/p')
UPSTREAM_COMMIT='a83ec40d960eb334faf381a9c92aa884da8c3475'
REPACK_TEMPDIR:=$(shell mktemp -d)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

get-orig-source:
	wget https://github.com/volkszaehler/libsml/archive/a83ec40d960eb334faf381a9c92aa884da8c3475.tar.gz -O $(REPACK_TEMPDIR)/libsml_$(UPSTREAM_VERSIONSTRING).tar.gz
	mkdir $(REPACK_TEMPDIR)/libsml-$(UPSTREAM_VERSIONSTRING)
	tar -xvf $(REPACK_TEMPDIR)/libsml_$(UPSTREAM_VERSIONSTRING).tar.gz --strip 1 -C $(REPACK_TEMPDIR)/libsml-$(UPSTREAM_VERSIONSTRING)
	rm $(REPACK_TEMPDIR)/libsml_$(UPSTREAM_VERSIONSTRING).tar.gz
	tar -cJf $(REPACK_TEMPDIR)/libsml_$(UPSTREAM_VERSIONSTRING).orig.tar.xz -C $(REPACK_TEMPDIR) libsml-$(UPSTREAM_VERSIONSTRING)
	mv $(REPACK_TEMPDIR)/libsml_$(UPSTREAM_VERSIONSTRING).orig.tar.xz $(CURDIR)
